services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: laravel-app
    volumes:
      - ./src:/app
    working_dir: /app
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
